* {
  border: 0;
  margin: 0;
}
html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  height: 100%;
  width: 100%;
}
.bordered {
  border: 2px dashed var(--el-border-color);
}
.normal-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  height: 90vh;
  width: 100%;
}
.forms-box {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.form-box {
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.el-select {
  width: 200px !important;
}
.el-form-item {
  width: 300px !important;
  margin-right: 30px !important;
}
.el-form:not(.custom-label-size) .el-form-item .el-form-item__label {
  min-width: 100px !important;
}
.el-form--inline .el-form-item__content {
  width: 200px !important;
}

.el-form .save-button {
  /* 减去其他元素的右边距和自身的长度 */
  margin-left: calc(100% - 30px - 60px);
}
.fixed-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  align-self: center;
  width: 180px;
}
.form-right-button {
  width: 100%;
}
.form-right-button .el-form-item__content {
  justify-content: flex-end;
}
.dot-left:before {
  position: relative;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #009966;
  top: 12px;
  left: -4px;
}

.single-forms {
  flex-direction: column;
}
.single-forms .form-box {
  margin-left: auto;
  margin-bottom: 10px;
}
